.tokensGrid {
  width: 100%;
  font-fanily: sans-serif;
  color: #fff;
  border-collapse: collapse;
}

.tokensGrid thead th {
  padding: 0.75rem 1rem;
  text-align: left;
}

.tokensGrid tbody td {
  padding: 0.75rem 1rem;
  color: #ccc;
}

.tokensGrid tbody td:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.tokensGrid tbody td:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.tokensGrid tbody tr:nth-child(even) td {
  background: #444;
}
